.containerBoard{
 text-align: center;
margin-top: 30px;
}

main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
    margin-top: 30px;
}

app-square {
    border: 1px gray solid;
    height: 200px;
}

h1{
    color: white; 
    /* text-shadow: -1px -1px 0 #000, 0.2px -1px 0 #000, -1px 0.2px 0 #000, 0.2px 0.2px 0 #000; */
    font-size: xx-large;
}

button{
    margin-top: 25px;
    background-color: rgba($color: black, $alpha: 0.3) !important;
    font-size: large;
}

.winner{
    font-size: 50px;
    margin-top: 40px;
}

.player{
    text-shadow: 1px 1px 2px black, 0 0 0em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}